<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sportgame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SportGame">
        <activity
            android:name=".Controller.PlayerInsert"
            android:exported="true" />
        <activity
            android:name=".Controller.TrophiesAddition"
            android:exported="true" />
        <activity
            android:name=".Controller.Friends"
            android:exported="true" />
        <activity
            android:name=".Controller.NameInput"
            android:exported="true" />
        <activity
            android:name=".Controller.EmailInput"
            android:exported="true" />
        <activity
            android:name=".Controller.ProfilePage"
            android:exported="true" />
        <activity
            android:name=".Controller.Registration"
            android:exported="true" />
        <activity
            android:name=".Controller.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Controller.SplacshScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>